<div
	class="ryadno-field-{{ uuid }} col-span-{{column_span}}{% if hidden %} hidden{%endif%}{% if disabled %} opacity-50 pointer-events-none{% endif %}"
	data-signals="{
		'{{uuid}}': {
			value: {{value}},
			path: '{{state_path}}'
		}
	}"
>
	{% block field_body %} {% endblock %}
</div>
