{% extends "ryadno/fields/base.jinja" %}
{% block field_body %}
	{% if not hidden %}
		<label>
			<span class="block">{{label}}</span>
			<input
				type="{{input_type}}"
				data-bind="{{uuid}}.value"
				data-on:input__debounce.500ms="
					@post(
						`{{form_context.update_endpoint}}`,
						{
							headers: {{form_context.headers | replace('\"', '\'')}},
							payload: {
							    uuid: '{{form_context.uuid}}',
								field_uuid: '{{uuid}}',
								path: ${{uuid}}.path,
								update: {
								    Value: ${{uuid}}.value
								},
							}
						}
					)
				"
			/>
			<span class="ryadno-field-error"></span>
		</label>
	{% endif %}
{% endblock %}
