<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ryadno</title>
		<script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.1/bundles/datastar.js"></script>
		<link href="/public/style.css" rel="stylesheet">
		<link rel="icon" type="image/svg+xml" href="/public/favicon.svg">
	</head>
	<body class="flex items-center justify-center h-full">
		{{ html }}
	</body>
</html>
